ul#posts {
  width: 80%;
  max-width: 60em;
  list-style-type: none; }
  ul#posts li {
    margin-bottom: 0.3em;
    clear: both; }
    ul#posts li time {
      margin-right: 1.3em;
      display: block;
      float: left; }
  @media (max-width: 70em) {
    ul#posts {
      width: auto;
      padding: 0; }
      ul#posts li {
        margin-bottom: 1em; }
        ul#posts li time {
          float: none; }
        ul#posts li a {
          display: block; } }
