body {
  margin: auto;
  padding: 0 0.5em;
  max-width: 55em; }
  body header h1 {
    margin-bottom: 0.5ex; }
  body header time {
    display: block;
    float: right; }
  body header:after {
    clear: both;
    content: "";
    display: block; }
  body img {
    border: thin double #AAA;
    margin: 0 1ex; }
  body .thumbnail {
    max-width: 75%;
    max-height: 30em; }
  body pre, body code {
    background-color: #F0F0F0;
    border-radius: 0.2em; }
  body pre {
    padding: 0.3em; }
  body code {
    padding: 0; }
  body nav {
    margin-top: 2em;
    clear: both; }
