<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{ site.baseurl }}{{ site.feed }}" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/post.css">
</head>
<body>
  <article>
    <header>
      <h1>{{ page.title }}</h1>
      <time datetime="{{ page.date | date_to_valid_date_string}}">{{ page.date | date_to_ja_string }}</time>
    </header>
    {{ content }}
  </article>
  <nav>
    <a href="{{ site.baseurl }}/index.html">インデックス</a>
  </nav>
</body>
</html>
