<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title | xml_escape }} - {{ site.title | xml_escape }}</title>
  <link rel="alternate" type="application/atom+xml" title="Atom feed" href="/memo/{{ site.feed }}" />
  <link rel="stylesheet" type="text/css" href="/memo/css/post.css">
</head>
<body>
  <article>
    <header>
      <h1>{{ page.title | xml_escape }}</h1>
      <time datetime="{{ page.date | date_to_valid_date_string}}">{{ page.date | date_to_ja_string }}</time>
    </header>
    {{ content }}
    <footer>
      <div class="changelog">
        <h2>この記事の更新履歴</h2>
        {% git_log %}
      </div>
    </footer>
  </article>
  <nav>
    <a href="/memo/index.html">目次</a>
  </nav>
</body>
</html>
